<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-watchlist">
      <div class="container-fluid">
        <a class="navbar-brand" href="<%= lists_path(@list) %>">
          <img src="https://cdn-icons-png.flaticon.com/512/3247/3247336.png" />
        </a>
        <div>
          <%= link_to "Add list", new_list_path(@lists), class: 'btn btn-flat' %>
          <%= link_to "My lists", lists_path(@list), class: 'btn btn-flat' %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
